/* App.css */
.background {
  background-image: linear-gradient(to bottom right,#000, #666, #ddd);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('/images/pexels-pixabay-259165.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


/* HIDE dark background and use block layout on small screens */

/*
@media (max-width: 600px) {
    table.table {
      font-size: 0.95rem;
    }
  }
  
  @media (max-width: 400px) {
    table.table {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 370px) {
    table.table {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 330px) {
    table.table {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 310px) {
    table.table {
      font-size: 0.7rem;
    }
  }

  @media (max-width: 290px) {
    table.table {
      font-size: 0.6rem;
    }
  }
  @media (max-width: 270px) {
    table.table {
      font-size: 0.5rem;
    }
  }

  @media (max-width: 250px) {
    table.table {
      font-size: 0.45rem;
    }
  } */