/* App.css */
.background {
  background-image: linear-gradient(to bottom right, #555, #ddd);
}


/* HIDE dark background and use block layout on small screens */
@media (max-width: 600px) {

}


@media (max-width: 600px) {
    table.table {
      font-size: 0.95rem;
    }
    /* .background {
      background-image: none;
      box-shadow: none !important;
    } */
  }
  
  @media (max-width: 400px) {
    table.table {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 370px) {
    table.table {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 330px) {
    table.table {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 310px) {
    table.table {
      font-size: 0.7rem;
    }
  }

  @media (max-width: 290px) {
    table.table {
      font-size: 0.6rem;
    }
  }
  @media (max-width: 270px) {
    table.table {
      font-size: 0.5rem;
    }
  }

  @media (max-width: 250px) {
    table.table {
      font-size: 0.45rem;
    }
  }